@media screen and (max-width: 600px) {
  .login {
    flex-direction: column; 
    align-items: center;
  }

  .login-image {
    width: 80%; 
    margin-bottom: 20px; 
  }
 .form-container{
  width: 200%;
  max-width: 500px;
 }
 }

 @media screen and (max-width: 800px) {
  .login {
    flex-direction: column; 
    align-items: center;
  }

  .login-image {
    width: 80%; 
    margin-bottom: 20px; 
  }
 .form-container{
  width: 200%;
  max-width: 500px;
 }
 }
  @media screen and (max-width: 1000px) {
  .login {
    flex-direction: column; 
    align-items: center;
  }

  .login-image {
    width: 80%; 
    margin-bottom: 20px; 
  }
 .form-container{
  width: 200%;
  max-width: 500px;
 }
 }
   @media screen and (max-width: 1200px) {
  .login {
    flex-direction: column; 
    align-items: center;
  }

  .login-image {
    width: 50%; 
    margin-bottom: 20px; 
  }
 .form-container{
  width: 150%;
  max-width: 500px;
 }
 }