@media screen and (max-width: 600px) {
    .notes{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 800px) {
    .notes{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1000px) {
    .notes{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1200px) {
    .notes{
        grid-template-columns: 1fr;
    }
}